page-home {

    h2{
        text-align: center;
    }

    img{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    form {
        margin-top: 10%;
    }

    #btn-registrar{
        margin-top: 5%;
    }

    #btn-entrar{
        margin-top: 2%;
    }
}
